# .github/workflows/nox.yaml
# Copyright 2023 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

name: Nox
on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      # yamllint disable-line rule:line-length
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
      - run: ./noxfile.py
      # yamllint disable-line rule:line-length
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: main
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
        id: deployment
  renovate-config-validator:
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@e4f20b5c4b2487e16deeb23f821f63e1cd26eecb # v0.0.24
